.git
.github
.idea
.claude
build/
android/
ios/
linux/
macos/
windows/
web/
lib/
test/
node_modules/
*.md
*.png
*.jpg
*.jpeg
*.bat
*.ps1
netlify.toml
nixpacks.toml
runtime.txt
pubspec.yaml
pubspec.lock